
body{
	text-align: center;
	background-color: #2f4f4f;
    	
}
h1{
	font:20px;
	color: #c0c0c0;
}	
h2{
	font:Arial Black;
	color: pink;
}	
.GIS{
	border: none;
	font-size:15;
	cursor:pointer;
}
.GIS:hover{ background:red;}
.Go To Next Page{
	color: silver;}
	
	